@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Raleway:wght@300;500&family=Staatliches&display=swap");
body {
  background-image: linear-gradient(109.5deg, rgba(229, 233, 177, 1) 11.2%, rgba(223, 205, 187, 1) 100.2%);
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.albumcontainer {
}

.albumcover {
}

.albumtitle {
  font-weight: 500;
}

.albumartist {
}

.albumgenre {
}

.albumduration {
}

.music {
}
div nav[aria-label="breadcrumb"] {
  background-color: rgba(229, 233, 177);
}
.jumbotron {
  background-image: url(/image/Beyonce-The-Lion-King-Spirit-Music-Video-Fashion-Tom-Lorenzo-Site-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.display-4 {
  text-shadow: 0 0 4px violet;
}
.togbtns {
  margin: 10px;
  top: -10px;
  margin-right: 10%;
  background-color: transparent;
  font-size: 30px;
  color: #505050;
  transform: rotate(90deg);
  border: #505050;
  align-self: flex-end;
}
h1,
h2,
h4,
h5 {
  font-family: "Libre Baskerville", serif;
}
i {
  font-family: "Libre Baskerville", serif;
}
h2 {
  margin: auto;
}
.navbar-brand,
p + h4 {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}
p + h4 {
  color: #524426;
  animation: glow 2s infinite ease alternate both;
  font-size: 50px;
}
@keyframes glow {
  from {
    text-shadow: 0 0 px gold;
  }
  to {
    text-shadow: 0 0 30px rgb(228, 210, 110), 0 0 10px rgb(255, 217, 0), 0 0 5px rgb(228, 194, 0);
  }
}
.togbtns:hover,
.togbtns:checked {
  transform: rotate(180deg);
  border: inherit;
  background-color: transparent;
}
body > div:first-child {
  background: rgb(2, 0, 36);
}
.card {
  background-color: transparent;
  border: none;
}

#favoriteAlbums .row .card img {
  border-radius: 100%;
  background-color: transparent;
  box-shadow: 0 0 5px #505050;
  transition: box-shadow 0.3s infinite ease-in;
  transform: translateY(1px) 1s;
}
#favoriteAlbums .row .card img:first-of-type:hover {
  box-shadow: 0 10px 25px #505050;
}
#favoriteAlbums .row .card:hover {
  transform: translateY(4px);
}
#favoriteAlbums .row .card a img:nth-child(2) {
  position: relative;
  width: 45%;
  top: -50%;
  left: 27%;
}
#favoriteAlbums a {
  margin-bottom: -90px;
}
#albumReview section div div:last-child li:nth-child(even) {
  background-color: #cccccc;
}
#albumReview section div div:last-child li {
  padding: 0;
  margin: 0;
}
.cancel-btn {
  position: absolute;
  background-color: transparent;
  color: #00ff84;
  border: none;
  font-weight: 900;
  position: relative;
}
.cancel-btn:hover {
  color: red;
  text-shadow: 0 0 15px #00ff84;
}
#admire .square {
  position: relative;
  width: 50%;
}

#admire .square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
#admire h6 {
  position: relative;
  top: 80%;
  left: 15px;
  font-size: 35px;
  font-weight: 800;
  color: #505050c2;
  font-family: "Staatliches", cursive;
}

#admire img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
#admire .info {
  right: 0;
  left: 0;
  margin-top: 80%;
  margin-left: 15px;
  margin-right: -15px;
  z-index: 4;
  height: 90%;
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9808298319327731) 87%, rgba(0, 0, 0, 0.6755077030812324) 92%, rgba(0, 0, 0, 0.4206057422969187) 96%, rgba(0, 0, 0, 0) 100%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.rotate {
  animation: rotation 5s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 600px) {
  .card {
    margin-top: 40px;
    margin-left: 0px;
  }
  #admire h6 {
    top: 60%;
    font-size: 12px;
  }
  #worstAlbums .container,
  #favoriteAlbums .container,
  #albumReview .container {
    margin-top: -50px;
    margin-bottom: 50px;
  }
}
#tapestry img {
  transition: transform 1.2s ease-in-out;
  transition: box-shadow 0.3s infinite ease-in;
  padding: 0;
  margin: 0 10px;
}
#tapestry img:hover {
  transform: scale(2.5);
  z-index: 30;
  box-shadow: 0 10px 25px #505050;
}
footer {
  margin: auto;
}
footer a {
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  display: inline;
  color: #eee8aa;
  text-decoration: none;
  text-shadow: 0px 0px 5px rgb(210, 105, 30);
  margin: 70px;
}
footer a:hover {
  color: black;
  text-shadow: 0px 0px 4px gold, 0px 0px 10px rgb(255, 165, 0);
}
footer a:active {
  color: rgb(252, 232, 246);
}
